{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <h6>
      Cole o relatório dos chamados gerado pelo o CA Service Desk Manager abaixo
      e clique em 'Enviar'.
   </h6>
  <form action="/coletando/" method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
     <br>
   </p>
   <div class="footer">
	   Versão: ALPHA, Jean Landim (GPLv3) 2019 - Visite: <a href="http://github.com/jeanlandim/custodes">
		   Custodes @ Github </a>
   </div>
</body>
{% endblock %}

