{% extends 'base.html' %}
{% block content %}
{% autoescape off %}
<p>Para navegar entre os chamados pressione a tecla TAB.</p>
{% for campo in chamados %}

   	   {% if "Solicitação:" in campo or "Incidente:" in campo %} 
	   <div class="card bg-light mb-3" id='{{forloop.counter}}'>
	   	<div class="card-header">
			{{campo}}  
	   	</div> 
		<div class="card-body">
	   {% else %} 
	   {{campo}}<br>
	   {% endif %} 

	   {% if "Encerrar chamado" in campo %}
	       </div>
	   	</div>
	   {% endif %}
{% endfor %}
{% endautoescape %} 
{% endblock %} 
